Repository organicnz/uptime-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, no-debug, secrets-check, json-validate

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  no-debug: any of: *.{ts,tsx,js,jsx}
  secrets-check: any of: *.{ts,tsx,js,jsx,json,env*}
  json-validate: any of: *.json, but not: package-lock.json

chore: harden Bun stack, Sentry, CI guards
  .bundle/baseline.json
  .bundle/coverage-summary.json
  .bundle/size.json
  .env.local.example
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  bun.lock
  instrumentation-client.ts
  instrumentation.ts
  lefthook.yml
  next.config.ts
  package.json
  proxy.ts
  scripts/bundle-size.ts
  scripts/coverage-check.sh
  scripts/coverage-check.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  tsconfig.json
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

chore: pin Bun via packageManager, weekly audit
  .bundle/coverage-summary.json
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  README.md
  package.json
Due: format, secrets-check, json-validate

chore: security unit tests, bundle artifact hygiene
  .bundle/baseline.json
  .bundle/coverage-summary.json
  .bundle/size.json
  .gitignore
  README.md
  __tests__/lib/security.test.ts
  scripts/bundle-size.ts
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

test: cover card and dropdown-menu components
  README.md
  __tests__/components/ui/card.test.tsx
  __tests__/components/ui/dropdown-menu.test.tsx
Due: typecheck, lint, format, no-debug, secrets-check

chore: least-privilege CI tokens, pre-push bundle guard
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  lefthook.yml
Due: format

test: cover ssl-utils and qstash pure functions
  README.md
  __tests__/lib/qstash.test.ts
  __tests__/lib/ssl-utils.test.ts
Due: typecheck, lint, format, no-debug, secrets-check

test: monitor-card states, duplicate toast, cron branch
  README.md
  __tests__/components/ui/monitor-card.test.tsx
  __tests__/lib/qstash.test.ts
Due: typecheck, lint, format, no-debug, secrets-check

feat: add SSRF URL checker to audit tool, maximize Rust usage
  tools/audit/Cargo.lock
  tools/audit/Cargo.toml
  tools/audit/src/main.rs
Due: none

feat: DEGRADED status and monitor analytics
  lib/monitor-checker.ts
  lib/notifications.ts
  supabase/schema.sql
Due: typecheck, lint, format, no-debug, secrets-check

chore: add backup files
  lib/monitor-checker.ts.backup
  supabase/schema.sql.backup
Due: none

fix: realtime collisions, hydration mismatch, safe analytics
  components/dashboard-layout.tsx
  components/live-monitors.tsx
  components/monitor-detail-client.tsx
  components/monitor-detail-panel.tsx
  components/monitor-sidebar.tsx
  components/realtime-status.tsx
  components/ui/monitor-card.tsx
  hooks/use-monitors-with-history.ts
  hooks/use-realtime-monitors.ts
  lib/actions/monitors.ts
  lib/monitor-checker.ts
  lib/notifications.ts
  lib/security.ts
  lib/ssl-utils.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix: harden monitor actions, drop dead permissions header
  lib/actions/monitors.ts
  next.config.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix: never redirect server-action POSTs in middleware
  lib/supabase/middleware.ts
Due: typecheck, lint, format, no-debug, secrets-check

chore: add migration syncing live DB schema drift
  supabase/migrations/20260913_sync_live_schema_drift.sql
Due: none

chore: add CI/CD migration workflow
  .github/workflows/supabase-migrations.yml
Due: format

fix: deliver migrations and edge functions via CI/CD
  .github/workflows/supabase-migrations.yml
  app/api/cron/check-monitors/route.ts
  lib/actions/monitors.ts
  lib/monitor-checker.ts
  scripts/supabase-migrate.py
  scripts/supabase-verify-schema.py
  supabase/migrations/00001_init.sql
  supabase/migrations/20241210_add_monitor_groups.sql
  supabase/migrations/20260821_add_incidents_rls_policies.sql
  supabase/migrations/20260913_sync_live_schema_drift.sql
  types/application.ts
  types/database.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix: use supabase/setup-cli@v3 (v1 tag does not exist)
  .github/workflows/supabase-migrations.yml
Due: format

fix: move edge-functions guard to step shell (hashFiles banned in job if)
  .github/workflows/supabase-migrations.yml
Due: format

fix: validate Supabase token pre-flight with actionable error
  scripts/supabase-migrate.py
Due: none

fix: harden supabase delivery via CI/CD, no manual actions
  .github/workflows/supabase-migrations.yml
  __tests__/lib/supabase-delivery.test.ts
  supabase/config.toml
  supabase/migrations/00001_init.sql
  supabase/migrations/20241210_add_monitor_groups.sql
  supabase/schema.sql
Due: typecheck, lint, format, no-debug, secrets-check

test: probe PR validate-only gate (comment-only, revert)
  supabase/migrations/20251210_add_ssl_columns.sql
Due: none

fix: pin Bun version in CI workflows
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/quality-gate.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  __tests__/lib/supabase-delivery.test.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix: keep project Bun runtime after Supabase setup
  .github/workflows/quality-gate.yml
  __tests__/lib/supabase-delivery.test.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix: allow local Supabase in CSP and stabilize e2e
  e2e/smoke.e2e.ts
  next.config.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix: enforce local Supabase URL and add QSTASH_TOKEN
  .env.local.example
  scripts/e2e-seed.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix: stop maintenance windows masking monitor outages
  .gitignore
  README.md
  __tests__/lib/monitor-checker.test.ts
  e2e/api-auth.e2e.ts
  lib/monitor-checker.ts
  lib/monitor-checker.ts.backup
  lib/monitor-status.ts
  playwright.config.ts
  supabase/schema.sql
  supabase/schema.sql.backup
  types/database.ts
Due: typecheck, lint, format, no-debug, secrets-check

feat: populate uptime streak and heartbeat error categories
  CLAUDE.md
  README.md
  __tests__/lib/monitor-checker.test.ts
  lib/monitor-checker.ts
  lib/monitor-status.ts
  package.json
  scripts/e2e-preflight.ts
  supabase/schema.sql
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

feat(db): vault credentials, analytics columns, heartbeat rollups
  .kiro/steering/database.md
  scripts/supabase-verify-schema.py
  supabase/migrations/20260927094500_add_vault_notification_secrets.sql
  supabase/migrations/20260928000000_populate_analytics_and_checked_by.sql
  supabase/migrations/20261002000000_heartbeat_retention_and_rollups.sql
  supabase/schema.sql
  types/database.ts
Due: typecheck, lint, format, no-debug, secrets-check

refactor(env): read configuration through lib/env.ts
  .env.local.example
  __tests__/bun-test.d.ts
  __tests__/lib/env.test.ts
  __tests__/lib/qstash.test.ts
  app/api/cron/check-monitors/route.ts
  app/api/cron/failure-callback/route.ts
  app/api/settings/schedule/route.ts
  instrumentation-client.ts
  lib/actions/auth.ts
  lib/env.ts
  lib/qstash.ts
  lib/supabase/client.ts
  lib/supabase/middleware.ts
  lib/supabase/server.ts
  lib/supabase/service.ts
  next.config.ts
Due: typecheck, lint, format, no-debug, secrets-check

feat(security): share one egress policy across runtimes
  __tests__/lib/egress-policy.test.ts
  lib/security.ts
  supabase/functions/_shared/egress-policy.ts
  supabase/functions/_shared/egress.ts
  supabase/functions/_shared/egress_test.ts
  tsconfig.json
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

feat(notifications): store channel credentials in Supabase Vault
  .github/workflows/supabase-migrations.yml
  __tests__/lib/notification-types.test.ts
  __tests__/lib/senders.test.ts
  __tests__/lib/supabase-delivery.test.ts
  __tests__/lib/vault-secrets.test.ts
  app/(dashboard)/dashboard/notifications/[id]/edit/page.tsx
  app/(dashboard)/dashboard/notifications/new/page.tsx
  app/(dashboard)/dashboard/notifications/page.tsx
  app/api/notifications/channels/route.ts
  app/api/notifications/test/route.ts
  lib/notification-channels.ts
  lib/notification-types.ts
  lib/notifications.ts
  supabase/config.toml
  supabase/functions/_shared/senders.ts
  supabase/functions/deno.json
  supabase/functions/deno.lock
  supabase/functions/notification-dispatch/index.ts
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

feat(monitors): roll up heartbeats and expose uptime reports
  CLAUDE.md
  __tests__/lib/analytics.test.ts
  __tests__/lib/uptime-reports.test.ts
  app/api/cron/cleanup/route.ts
  app/api/health/route.ts
  app/api/monitors/[id]/check/route.ts
  app/api/reports/route.ts
  components/ui/monitor-card.tsx
  components/ui/monitor-status-badge.tsx
  hooks/use-realtime-monitors.ts
  lib/analytics.ts
  lib/monitor-checker.ts
  lib/uptime-reports.ts
Due: typecheck, lint, format, no-debug, secrets-check

perf(hooks): bound heartbeat history reads per monitor
  hooks/use-monitors-with-history.ts
Due: typecheck, lint, format, no-debug, secrets-check

feat(ui): WebGPU status background and response chart
  .bundle/baseline.json
  __tests__/lib/gpu-shaders.test.ts
  app/gpu-fixture/page.tsx
  app/status/[slug]/page.tsx
  bun.lock
  components/gpu-response-chart-client.tsx
  components/gpu-response-chart.tsx
  components/gpu-runtime.ts
  components/gpu-status-background-client.tsx
  components/gpu-status-background.tsx
  components/monitor-detail-client.tsx
  components/shaders/latency-trend.ts
  components/shaders/status-backdrop.ts
  e2e/gpu.e2e.ts
  package.json
  playwright.config.ts
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

chore: update docs and audit tooling
  .gitignore
  .kiro/steering/tech.md
  README.md
  lefthook.yml
  tools/audit/src/main.rs
Due: format

fix(monitors): do not classify degraded checks as failures
  CLAUDE.md
  __tests__/lib/monitor-checker.test.ts
  lib/monitor-status.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix(status): stop calling a degraded monitor an outage
  __tests__/app/public-status-page.test.tsx
  __tests__/setup.ts
  app/status/[slug]/page.tsx
  lib/uptime-reports.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix(incidents): resolve a recovery that passes through degraded
  __tests__/lib/monitor-checker.test.ts
  lib/monitor-checker.ts
  lib/monitor-status.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix(cleanup): fail closed on a retention that hides days from reports
  __tests__/app/retention-cleanup.test.ts
  app/api/cron/cleanup/route.ts
Due: typecheck, lint, format, no-debug, secrets-check
