Repository organicnz/uptime-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, no-debug, secrets-check, json-validate

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  no-debug: any of: *.{ts,tsx,js,jsx}
  secrets-check: any of: *.{ts,tsx,js,jsx,json,env*}
  json-validate: any of: *.json, but not: package-lock.json

feat(audit): add test-bypass command for Vercel protection testing
  tools/audit/Cargo.toml
  tools/audit/src/main.rs
Due: none

docs: update docs to reflect Rust tool migration
  CLAUDE.md
  README.md
Due: format

docs: update kiro and claude docs for Rust tools
  .claude/skills/testing.md
  .kiro/steering/tech.md
Due: format

fix(monitor): improve error messages for Vercel/Cloudflare blocks
  lib/monitor-checker.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix(audit): update default test-bypass url and docs
  tools/audit/src/main.rs
Due: none

fix(lint): suppress false positive in mfa settings
  components/mfa-settings.tsx
Due: typecheck, lint, format, no-debug, secrets-check

feat: Add major functionality improvements
  .agent/rules/monitoring.md
  app/(dashboard)/dashboard/incidents/[id]/edit/page.tsx
  app/(dashboard)/dashboard/incidents/new/page.tsx
  app/(dashboard)/dashboard/incidents/page.tsx
  app/(dashboard)/dashboard/maintenance/[id]/edit/page.tsx
  app/(dashboard)/dashboard/maintenance/new/page.tsx
  app/(dashboard)/dashboard/maintenance/page.tsx
  app/(dashboard)/dashboard/monitors/[id]/page.tsx
  app/(dashboard)/layout.tsx
  components/delete-incident-button.tsx
  components/delete-maintenance-button.tsx
  components/group-actions.tsx
  components/group-dialog.tsx
  components/incident-form.tsx
  components/incident-quick-actions.tsx
  components/incident-status-badge.tsx
  components/maintenance-form.tsx
  components/monitor-detail-client.tsx
  components/response-time-chart.tsx
  lib/actions/groups.ts
  lib/actions/incidents.ts
  lib/actions/maintenance.ts
  lib/constants.ts
  lib/monitor-checker.ts
  lib/ssl-utils.ts
  supabase/migrations/20241210_add_monitor_groups.sql
  supabase/migrations/20251210_add_ssl_columns.sql
  supabase/schema.sql
  types/database.ts
Due: typecheck, lint, format, no-debug, secrets-check

feat: Add custom headers UI with Vercel bypass toggle
  app/(dashboard)/dashboard/monitors/[id]/edit/page.tsx
Due: typecheck, lint, format, no-debug, secrets-check

feat: Add generate secret & copy button for Vercel bypass
  app/(dashboard)/dashboard/monitors/[id]/edit/page.tsx
Due: typecheck, lint, format, no-debug, secrets-check

feat: Obfuscate secrets in headers UI
  app/(dashboard)/dashboard/monitors/[id]/edit/page.tsx
Due: typecheck, lint, format, no-debug, secrets-check

fix(ssl): only alert on expired certificates, remove pre-expiry warnings
  lib/monitor-checker.ts
  lib/ssl-utils.ts
Due: typecheck, lint, format, no-debug, secrets-check

fix(security): upgrade Next.js 16.1.1 and React 19.2.3
  package-lock.json
  package.json
Due: format, secrets-check, json-validate

fix(security): remove hardcoded secrets
  .gitignore
  tools/audit/src/main.rs
Due: none

chore: remove GitHub Actions cron (using QStash)
  .github/workflows/cron.yml
Due: format

docs: update README with project overview and QStash setup
  README.md
Due: format

docs: add QStash CLI automation commands
  README.md
Due: format

docs: fix README accuracy and structure
  README.md
Due: format

chore(db): add database schema and seed template
  supabase/migrations/00001_init.sql
Due: none

fix(types): replace unsafe casts and patch database schema
  .agent/rules/bun-workflow.md
  .agent/rules/git-workflow.md
  .agent/rules/monitoring.md
  .agent/rules/nextjs-guidelines.md
  .agent/rules/ui-development.md
  AGENTS.md
  app/(dashboard)/dashboard/notifications/[id]/edit/page.tsx
  app/(dashboard)/dashboard/notifications/new/page.tsx
  app/(dashboard)/dashboard/status-pages/[id]/page.tsx
  bun.lock
  lefthook.yml
  lib/actions/auth.ts
  lib/actions/groups.ts
  lib/actions/incidents.ts
  lib/actions/maintenance.ts
  lib/actions/monitors.ts
  lib/actions/status-pages.ts
  lib/monitor-checker.ts
  lib/notifications.ts
  lib/security.ts
  package-lock.json
  package.json
  types/database.ts
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

feat(security): implement robust ssrf guards and zod validation
  app/(dashboard)/dashboard/monitors/[id]/edit/page.tsx
  app/(dashboard)/dashboard/monitors/new/page.tsx
  bun.lock
  components/cron-settings.tsx
  lib/actions/monitors.ts
  lib/monitor-checker.ts
  lib/security.ts
  package.json
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

feat(monitoring): implement sentry full-stack monitoring
  app/global-error.tsx
  bun.lock
  instrumentation.ts
  next.config.ts
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

feat: Modularize components and setup Sentry
  .env.local.example
  PHASAL_PLAN.md
  components/live-monitors.tsx
  components/monitor-detail-panel.tsx
  components/ui/monitor-card.tsx
  components/ui/monitor-status-badge.tsx
  components/ui/response-chart.tsx
  components/ui/stat-box.tsx
  instrumentation.ts
  lib/actions/groups.ts
  lib/actions/incidents.ts
  lib/actions/maintenance.ts
  lib/actions/monitors.ts
  lib/monitor-checker.ts
  lib/notifications.ts
  lib/security.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  supabase/migrations/20260821_add_incidents_rls_policies.sql
  supabase/schema.sql
Due: typecheck, lint, format, no-debug, secrets-check

feat: add automated component test suite with CI
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  CHANGELOG.md
  PHASAL_PLAN.md
  README.md
  __tests__/bun-test.d.ts
  __tests__/components/ui/monitor-card.test.tsx
  __tests__/components/ui/monitor-status-badge.test.tsx
  __tests__/components/ui/response-chart.test.tsx
  __tests__/components/ui/stat-box.test.tsx
  __tests__/setup.ts
  bun.lock
  bunfig.toml
  components/ui/monitor-card.tsx
  components/ui/monitor-status-badge.tsx
  components/ui/response-chart.tsx
  components/ui/stat-box.tsx
  package.json
Due: typecheck, lint, format, no-debug, secrets-check, json-validate

fix(ci): install bun in workflows via setup-bun
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
Due: format

docs: record all-green CI status on main
  PHASAL_PLAN.md
Due: format

docs: record deployment verification state
  PHASAL_PLAN.md
Due: format

chore(stack): harden CI and dependency maintenance
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  bun.lock
  package.json
Due: format, secrets-check, json-validate

fix(ci): drop bun ecosystem from Dependabot, unsupported lockfile v2
  .github/dependabot.yml
Due: format

fix(security): resolve 8 vulnerabilities and gate CI on bun audit
  .github/workflows/audit.yml
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  README.md
  bun.lock
  package.json
Due: format, secrets-check, json-validate

feat: add Bun coverage CI guard
  .env.local.example
  .github/workflows/build.yml
  package.json
  scripts/coverage-check.sh
Due: format, secrets-check, json-validate

chore: TypeScript fix + Bun coverage guard
  tsconfig.json
Due: format, secrets-check, json-validate
