Repository organicnz/uptime-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format-check

typecheck:
  run: npx tsc --noEmit

lint:
  run: npx eslint {staged_files} --max-warnings 0

format-check:
  run: npx prettier --check {staged_files}

feat: add dropdown menu and monitor duplicate action
  app/layout.tsx
  components/live-monitors.tsx
  components/monitor-detail-client.tsx
  components/ui/dropdown-menu.tsx
  lib/actions/monitors.ts
  package-lock.json
  package.json
Due: typecheck, lint, format-check

refactor: update monitor detail panel
  components/monitor-detail-panel.tsx
Due: typecheck, lint, format-check

chore: update favicon
  app/favicon.ico
Due: none

fix(security): add CVE-2025-66478 and CVE-2025-55182 protections
  proxy.ts
Due: typecheck, lint, format-check

fix: enable deployment protection for CVE-2025-66478 and CVE-2025-55182
  vercel.json
Due: format-check

revert: remove invalid security property from vercel.json
  vercel.json
Due: format-check

chore: add timeout to pre-push hooks
  lefthook.yml
Due: none

fix: clear NODE_OPTIONS in pre-push hooks to prevent debugger hang
  lefthook.yml
Due: none

fix: clean up lefthook output formatting
  lefthook.yml
Due: none

feat: enhance notification channel icons and UI
  app/(dashboard)/dashboard/notifications/page.tsx
  components/icons.tsx
Due: typecheck, lint, format-check

feat: enhance notification channel icons and UI
  app/(dashboard)/dashboard/notifications/page.tsx
  components/icons.tsx
  scripts/local-cron.mjs
Due: typecheck, lint, format-check

feat: fix types and styling for add channel page
  README.md
  app/(dashboard)/dashboard/notifications/new/page.tsx
  app/layout.tsx
Due: typecheck, lint, format-check

chore: migrate lefthook scripts to rust binary
  .gitignore
  lefthook.yml
  package.json
  scripts/lefthook/README.md
  scripts/lefthook/branch-name.sh
  scripts/lefthook/commit-msg-length.sh
  scripts/lefthook/commit-msg.sh
  scripts/lefthook/deps-check.sh
  scripts/lefthook/deps-reminder.sh
  scripts/lefthook/file-size-check.sh
  scripts/lefthook/format-check.sh
  scripts/lefthook/json-validate.sh
  scripts/lefthook/no-debug.sh
  scripts/lefthook/secrets-check.sh
  tools/audit/Cargo.lock
  tools/audit/Cargo.toml
  tools/audit/src/main.rs
Due: format-check

feat: finalize rust lefthook implementation
  tools/audit/src/main.rs
Due: none

fix(build): skip audit build if cargo is missing
  package.json
Due: format-check

feat(audit): add config, JSON output, parallel processing
  .audit.toml
  tools/audit/Cargo.lock
  tools/audit/Cargo.toml
  tools/audit/src/config.rs
  tools/audit/src/main.rs
Due: none

feat(audit): add vercel-cleanup command for deployment management
  tools/audit/src/main.rs
Due: none

feat(audit): add generate-favicons and local-cron commands
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  scripts/local-cron.mjs
  tools/audit/Cargo.lock
  tools/audit/Cargo.toml
  tools/audit/src/main.rs
Due: none

feat(audit): add generate-favicons and local-cron commands
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  tools/audit/Cargo.lock
  tools/audit/Cargo.toml
  tools/audit/src/main.rs
Due: none

chore: move seed-monitors.sql to supabase directory
  supabase/seed-monitors.sql
Due: none

feat(qstash): add Vercel protection bypass header support
  lib/qstash.ts
Due: typecheck, lint, format-check

feat(audit): add test-bypass command for Vercel protection testing
  tools/audit/Cargo.toml
  tools/audit/src/main.rs
Due: none

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{js,jsx,ts,tsx}
  format-check: any of: *.{js,jsx,ts,tsx,json,css,md}
